{% extends "layout.html" %}

{% block pageTitle %}
About – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
	  items: [
	    {
	      text: "GOV.UK Prototype Kit",
	      href: "/docs"
	    }
	  ]
	}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Meet the team</h1>
			<p>Last updated September 2022</p>
			<br>
			<br>

			<p>Here you can find and contact who is currently working on the Data Products Discovery project.</p>

			<h2 class="govuk-heading-m">Product and delivery</h2>
				<div class="govuk-grid-row">
	          <div class="govuk-grid-column-one-half">
	            <p class="govuk-body govuk-!-margin-bottom-0"><a href="mailto:amyrose.castiglione@digital.cabinet-office.gov.uk" class="govuk-link">Amy Castiglione</a></p>
              <p> Senior Product Manager <p>
          </div>

        <div class="govuk-grid-column-one-half">
          <p class="govuk-body govuk-!-margin-bottom-0"><a href="mailto:shahina.rahman@digital.cabinet-office.gov.uk" class="govuk-link">Shahina Rahman</a></p>
            <p> Senior Delivery Manager<p>
        </div>
      </div>

			<hr>
			<h2 class="govuk-heading-m">User-centred design</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body govuk-!-margin-bottom-0"><a href="/metadata-index" class="govuk-link">Hazal Arpalikli</a></p>
          <p> Senior interaction Designer<p>
        </div>

				<div class="govuk-grid-column-one-half">
          <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Angeliki Koumani</a></p>
            <p> Senior User Researcher <p>
        </div>
			</div>

			<hr>
			<h2 class="govuk-heading-m">Development</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body govuk-!-margin-bottom-0"><a href="/metadata-index" class="govuk-link">Andy Driver</a></p>
          <p> Senior developer<p>
        </div>


			</div>
		</div>


				<div class="govuk-grid-column-one-third">


			        <h2 class="govuk-heading-m" id="subsection-title">
			          Related Links
			        </h2>
			        <nav role="navigation" aria-labelledby="subsection-title">
			          <ul class="govuk-list govuk-!-font-size-16">
									<li>
			              <a href="/index">
			                Home
			              </a>
			            </li>
			            <li>
			              <a href="/about-the-service">
			                About the service
			              </a>
			            </li>
			            <li>
			              <a href="#">
			                Prototypes
			            </li>
			          </ul>
			        </nav>

			    </div>
				</div>



{% endblock %}
