{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
<html lang="en" class="govuk-template">

  <body>
      <div style="background-color: #1d70b8; padding:50px">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-xl" style="color: #ffffff;">
              Metadata
            </h1>
            <p style="color: #ffffff;">A service design history for Metadata.</p>
          </div>
        </div>
      </div>



      <div class="govuk-grid-row" style="padding:50px;">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">

            <p class="govuk-body"><a href="#" class="govuk-link">Post 1</a></p>
              <p> Beta, conducted first user research <p>


          <hr>
          <p class="govuk-body"><a href="#" class="govuk-link">Post 2</a></p>
            <p> Beta, conducted first user research   <p>
        </div>
      </div>


<!-- first two coloumn ends here -->


  <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related Links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="/about-the-service">
                About the service
              </a>
            </li>
            <li>
              <a href="#">
                Meet the team
              </a>
            </li>
            <li>
              <a href="#">
                Prototypes
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </body>
{% endblock %}
